@model IEnumerable<ShirtServiceModel>

<div class="row">
    @foreach (var shirt in Model)
    {
        <div class="col-md-4 shirt-element" id="@shirt.Id">
            <div class="card mb-4 bgcolor-gray border-none">
                <div style="text-align: center">
                    @if (ViewBag.ShowHearts == true)
                    {
                        var shirtName = shirt.Name.Replace(" ", "-");
                        @if (shirt.IsFavorite)
                        {
                            <a onclick="checkAuthentication(this)" class="unfav zoom" id="@shirt.Id-@shirtName">
                                <svg xmlns="http://www.w3.org/2000/svg" width="40" height="33" fill="red" class="bi bi-heart-fill" viewBox="0 0 16 16">
                                    <path fill-rule="evenodd" d="M8 1.314C12.438-3.248 23.534 4.735 8 15-7.534 4.736 3.562-3.248 8 1.314z" />
                                </svg>
                            </a>
                            <a onclick="checkAuthentication(this)" class="fav zoom" id="@shirt.Id-@shirtName">
                                <svg xmlns="http://www.w3.org/2000/svg" width="40" height="33" fill="black" class="bi bi-heart" viewBox="0 0 16 16">
                                    <path d="m8 2.748-.717-.737C5.6.281 2.514.878 1.4 3.053c-.523 1.023-.641 2.5.314 4.385.92 1.815 2.834 3.989 6.286 6.357 3.452-2.368 5.365-4.542 6.286-6.357.955-1.886.838-3.362.314-4.385C13.486.878 10.4.28 8.717 2.01L8 2.748zM8 15C-7.333 4.868 3.279-3.04 7.824 1.143c.06.055.119.112.176.171a3.12 3.12 0 0 1 .176-.17C12.72-3.042 23.333 4.867 8 15z" />
                                </svg>
                            </a>
                        }
                        else
                        {
                            <a onclick="checkAuthentication(this)" class="fav zoom" id="@shirt.Id-@shirtName">
                                <svg xmlns="http://www.w3.org/2000/svg" width="40" height="33" fill="red" class="bi bi-heart-fill" viewBox="0 0 16 16">
                                    <path fill-rule="evenodd" d="M8 1.314C12.438-3.248 23.534 4.735 8 15-7.534 4.736 3.562-3.248 8 1.314z" />
                                </svg>
                            </a>
                            <a onclick="checkAuthentication(this)" class="unfav zoom" id="@shirt.Id-@shirtName">
                                <svg xmlns="http://www.w3.org/2000/svg" width="40" height="33" fill="black" class="bi bi-heart" viewBox="0 0 16 16">
                                    <path d="m8 2.748-.717-.737C5.6.281 2.514.878 1.4 3.053c-.523 1.023-.641 2.5.314 4.385.92 1.815 2.834 3.989 6.286 6.357 3.452-2.368 5.365-4.542 6.286-6.357.955-1.886.838-3.362.314-4.385C13.486.878 10.4.28 8.717 2.01L8 2.748zM8 15C-7.333 4.868 3.279-3.04 7.824 1.143c.06.055.119.112.176.171a3.12 3.12 0 0 1 .176-.17C12.72-3.042 23.333 4.867 8 15z" />
                                </svg>
                            </a>
                        }
                    }
                    else if (ViewBag.ShowChecks == true)
                    {
                        @if (shirt.IsPublic)
                        {
                            <svg xmlns="http://www.w3.org/2000/svg" width="40" height="33" fill="green" class="bi bi-check-circle" viewBox="0 0 16 16" data-toggle="tooltip">
                                <title>Shirt is aprooved.</title>
                                <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z" />
                                <path d="M10.97 4.97a.235.235 0 0 0-.02.022L7.477 9.417 5.384 7.323a.75.75 0 0 0-1.06 1.06L6.97 11.03a.75.75 0 0 0 1.079-.02l3.992-4.99a.75.75 0 0 0-1.071-1.05z" />
                            </svg>
                        }
                        else
                        {
                            <svg xmlns="http://www.w3.org/2000/svg" width="40" height="33" fill="red" class="bi bi-x-circle" viewBox="0 0 16 16" data-toggle="tooltip">
                                <title>Shirt is not aprooved.</title>
                                <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z" />
                                <path d="M4.646 4.646a.5.5 0 0 1 .708 0L8 7.293l2.646-2.647a.5.5 0 0 1 .708.708L8.707 8l2.647 2.646a.5.5 0 0 1-.708.708L8 8.707l-2.646 2.647a.5.5 0 0 1-.708-.708L7.293 8 4.646 5.354a.5.5 0 0 1 0-.708z" />
                            </svg>
                        }
                    }
                </div>
                @if (shirt.IsAvailable)
                {
                    <img onclick="details(this)" src="@shirt.ImageUrl" class="cart-img-top zoom mt-4" alt="@shirt.Name" id="@shirt.Id" />
                }
                else
                {
                    <img onclick="details(this)" src="https://gcdnb.pbrd.co/images/DdarkvyoPK2M.gif" id="@shirt.Id" style="background: url(@shirt.ImageUrl) no-repeat; background-size: 100%;" class="card-img-top zoom mt-4" alt="@shirt.Name">
                }
                <div class="card-body">
                    <h5 class="card-title text-center">@shirt.Name</h5>
                    <p class="card-text text-center">$@shirt.Price</p>
                </div>
            </div>
        </div>
    }
</div>
