@model IEnumerable<ShirtServiceModel>

<div class="row">
    @foreach (var shirt in Model)
    {
        <div class="col-md-4">
            <div class="card mb-4 bgcolor-gray border-none">
                <div style="text-align: center">
                    @if (shirt.IsFavorite)
                    {
                        <a asp-controller="Favorites" asp-action="Action" asp-route-id="@shirt.Id" asp-route-name="@shirt.Name.Replace(" ", "-")">
                            <img style="width: 40px;height: 33px;" src="https://gcdnb.pbrd.co/images/Q8tYceFHl7R5.png" />
                        </a>
                    }
                    else
                    {
                        <a asp-controller="Favorites" asp-action="Action" asp-route-id="@shirt.Id" asp-route-name="@shirt.Name.Replace(" ", "-")">
                            <img style="width: 40px;height: 33px;" src="https://gcdnb.pbrd.co/images/hIaZf8kd5BFp.png" />
                        </a>
                    }
                </div>
                @if (shirt.IsAvailable)
                {
                    <img src="@shirt.ImageUrl" class="cart-img-top" alt="@shirt.Name" />
                }
                else
                {
                    <img src="https://way-ve.com/SOLD.gif" style="background: url(@shirt.ImageUrl) no-repeat; background-size: 100%;" class="card-img-top" alt="@shirt.Name">
                }
                <div class="card-body">
                    <h5 class="card-title text-center">@shirt.Name</h5>
                    <p class="card-text text-center">$@shirt.Price</p>
                    <div class="text-center">
                        <a asp-controller="Shirts" asp-action="Details" asp-route-id="@shirt.Id" asp-route-name="@shirt.Name.Replace(" ", "-")" class="btn bgcolor-blue text-white mb-1">Details</a>
                        @if (ViewBag.AllowShirtEdit == true)
                        {
                            <a asp-controller="Shirts" asp-action="Delete" asp-route-id="@shirt.Id" class="btn btn-danger text-white mb-1">Delete</a>
                        }
                    </div>
                </div>
            </div>
        </div>
    }
</div>