@model IEnumerable<ShirtServiceModel>

<div class="row">
    @foreach (var shirt in Model)
    {
        <div class="col-md-4">
            <div class="card mb-4 bgcolor-gray border-none">
                <div style="text-align: center">
                    @if (ViewBag.ShowHearts == true)
                    {
                        @if (shirt.IsFavorite)
                        {
                            <a asp-controller="Favorites" asp-action="Action" asp-route-id="@shirt.Id" asp-route-name="@shirt.Name.Replace(" ", "-")">
                                <svg xmlns="http://www.w3.org/2000/svg" width="40" height="33" fill="red" class="bi bi-heart-fill" viewBox="0 0 16 16">
                                    <path fill-rule="evenodd" d="M8 1.314C12.438-3.248 23.534 4.735 8 15-7.534 4.736 3.562-3.248 8 1.314z" />
                                </svg>
                            </a>
                        }
                        else
                        {
                            <a asp-controller="Favorites" asp-action="Action" asp-route-id="@shirt.Id" asp-route-name="@shirt.Name.Replace(" ", "-")">
                                <svg xmlns="http://www.w3.org/2000/svg" width="40" height="33" fill="black" class="bi bi-heart" viewBox="0 0 16 16">
                                    <path d="m8 2.748-.717-.737C5.6.281 2.514.878 1.4 3.053c-.523 1.023-.641 2.5.314 4.385.92 1.815 2.834 3.989 6.286 6.357 3.452-2.368 5.365-4.542 6.286-6.357.955-1.886.838-3.362.314-4.385C13.486.878 10.4.28 8.717 2.01L8 2.748zM8 15C-7.333 4.868 3.279-3.04 7.824 1.143c.06.055.119.112.176.171a3.12 3.12 0 0 1 .176-.17C12.72-3.042 23.333 4.867 8 15z" />
                                </svg>
                            </a>
                        }
                    }
                    else if (ViewBag.ShowChecks == true)
                    {
                        @if (shirt.IsPublic)
                        {
                            <img style="width: 40px;height: 33px;" src="https://gcdnb.pbrd.co/images/8Ars08cQ3S2Z.png" />
                        }
                        else
                        {
                            <img style="width: 40px;height: 33px;" src="https://gcdnb.pbrd.co/images/kXk3R3cUcszc.png" />
                        }
                    }
                </div>
                @if (shirt.IsAvailable)
                {
                    <img src="@shirt.ImageUrl" class="cart-img-top" alt="@shirt.Name" />
                }
                else
                {
                    <img src="https://way-ve.com/SOLD.gif" style="background: url(@shirt.ImageUrl) no-repeat; background-size: 100%;" class="card-img-top" alt="@shirt.Name">
                }
                <div class="card-body">
                    <h5 class="card-title text-center">@shirt.Name</h5>
                    <p class="card-text text-center">$@shirt.Price</p>
                    <div class="text-center">
                        <a asp-controller="Shirts" asp-action="Details" asp-route-id="@shirt.Id" asp-route-name="@shirt.Name.Replace(" ", "-")" class="btn bgcolor-blue text-white mb-1">Details</a>
                        @if (ViewBag.AllowShirtEdit == true)
                        {
                            <a asp-controller="Shirts" asp-action="Delete" asp-route-id="@shirt.Id" class="btn btn-danger text-white mb-1">Delete</a>
                        }
                    </div>
                </div>
            </div>
        </div>
    }
</div>