@model IEnumerable<ShirtServiceModel>

@{
    ViewData["Title"] = "Administration";
}

<h1 class="text-center">All Shirts</h1>

<table class="table table-hover">
    <thead>
        <tr>
            <th scope="col" class="text-center text-white h2" style="background-color: #234465;">Id</th>
            <th scope="col" class="text-center text-white h2" style="background-color: #234465;">Name</th>
            <th scope="col" class="text-center text-white h2" style="background-color: #234465;">Price</th>
            <th scope="col" class="text-center text-white h2" style="background-color: #234465;">Availabe</th>
            <th scope="col" class="text-center text-white h2" style="background-color: #234465;">Public</th>
            <th scope="col" style="background-color: #234465;"></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var shirt in Model)
        {
            <tr>
                <td scope="col" class="text-center h4 border-4 text-white" style="background-color: #234465;">@shirt.Id</td>
                <td scope="col" class="text-center h4 border-4">@shirt.Name</td>
                <td scope="col" class="text-center h4 border-4">$@shirt.Price</td>
                <td scope="col" class="text-center h4 border-4@(shirt.IsAvailable ? " text-success" : " text-danger")">@(shirt.IsAvailable ? "Yes" : "No")</td>
                <td scope="col" class="text-center h4 border-4@(shirt.IsPublic ? " text-success" : " text-danger")">@(shirt.IsPublic ? "Yes" : "No")</td>
                <td scope="col" class=" border-4">
                    <a asp-area="" asp-controller="Shirts" asp-action="Delete" asp-route-id="@shirt.Id" class="btn btn-danger text-white float-end mb-1 mt-1">Delete</a>
                    <a asp-area="Admin" asp-controller="Shirts" asp-action="ChangeVisibility" asp-route-id="@shirt.Id" class="btn @(shirt.IsPublic ? "bgcolor-orange" : "btn-success") text-white float-end mb-1 mt-1 m-3">@(shirt.IsPublic ? "Hide" : "Show")</a>
                    <a asp-area="" asp-controller="Shirts" asp-action="Details" asp-route-id="@shirt.Id" asp-route-name="@shirt.Name.Replace(" ", "-")" class="btn bgcolor-blue text-white float-end mb-1 mt-1 ml-3">Details</a>
                </td>
            </tr>
        }
    </tbody>
</table>