@model CartResultViewModel

@{
    ViewData["Title"] = "My Cart";
}

@if (!Model.Cart.Any())
{
    <h2 class="text-center">Your cart is empty!</h2>
}
else
{
    <h2 class="text-center">Total Price: @Model.TotalPrice</h2>
}

<div class="row">
    @foreach (var shirt in Model.Cart)
    {
        <div class="col-md-4">
            <div class="card mb-4 bgcolor-gray border-none">
                <img src="@shirt.ImageUrl" class="card-img-top" alt="@shirt.Name">
                <div class="card-body">
                    <h5 class="card-title text-center">@shirt.Name (@shirt.SizeName) - @shirt.Count @(shirt.Count == 1 ? "pc" : "pcs")</h5>
                    <h5 class="card-title text-center">@shirt.Price</h5>
                    <div class="text-center">
                        <a asp-controller="Carts"
                       asp-action="DeleteShirt"
                       asp-route-shirtId="@shirt.ShirtId"
                       asp-route-sizeName="@shirt.SizeName"
                       asp-route-flag=@false
                       class="btn btn-danger text-white mb-1">Remove One</a>
                       <a asp-controller="Carts"
                       asp-action="DeleteShirt"
                       asp-route-shirtId="@shirt.ShirtId"
                       asp-route-sizeName="@shirt.SizeName"
                       asp-route-flag=@true
                       class="btn btn-danger text-white mb-1">Remove All</a>
                    </div>
                </div>
            </div>
        </div>
    }
</div>