@model CartResultViewModel

@{
    ViewData["Title"] = "My Cart";

    var isCartEmpty = !Model.Cart.Any();
}

<h2 class="text-center" id="empty-cart-message" style="@(isCartEmpty ? string.Empty : "display: none;")">Your cart is empty!</h2>

@if (!isCartEmpty)
{
    <div id="non-empty-cart-info">
        <h2 class="text-center" id="total-price">Total Price: $@Model.TotalPrice</h2>
        <div class="text-center">
            <a asp-controller="Carts"
           asp-action="Check"
           class="btn bgcolor-blue text-white mb-2">Buy All</a>
        </div>
        <div class="text-center">
            <a onclick="clearCart(this)" class="unfav mb-4 btn btn-danger text-white">Clear Cart</a>
        </div>
    </div>
}

<div class="row">
    @foreach (var shirt in Model.Cart)
    {
        <div class="col-md-4 shirt-element">
            <div class="card mb-4 bgcolor-gray border-none">
                <img onclick="details(this)" id="@shirt.ShirtId" src="@shirt.ImageUrl" class="card-img-top zoom" alt="@shirt.Name">
                <input type="hidden" class="count" value="@shirt.Count">
                <input type="hidden" class="size-name" value="@shirt.SizeName">
                <div class="card-body">
                    <h5 class="card-title text-center">@shirt.Name (@shirt.SizeName) - @shirt.Count @(shirt.Count == 1 ? "Piece" : "Pcs")</h5>
                    <h5 class="card-title text-center price">$@shirt.Price/piece</h5>
                    <div class="text-center">
                        <a onclick="deleteShirtFromCart(@shirt.ShirtId)" class="btn bgcolor-orange text-white mb-1">Remove From Cart</a>
                    </div>
                </div>
            </div>
        </div>
    }
</div>
