@model IEnumerable<ProblemBuyServiceModel>

@{
    ViewData["Title"] = "Problems";
}

<h2 class="text-danger text-center" id="info-message">Ooppss...</h2>

<div class="row">
    @foreach (var shirt in Model)
    {
        <div class="col-md-4 shirt-element">
            <div class="card mb-4 bgcolor-gray border-none">
                <img id="@shirt.Id" src="@shirt.ImageUrl" class="card-img-top" alt="@shirt.Name">
                <div class="card-body">
                    <h5 class="card-title text-center">@shirt.Name (@shirt.SizeName)</h5>
                    <input type="hidden" class="size-name" value="@shirt.SizeName">
                    <h5 class="card-title text-center">
                        Available @shirt.ShirtSizeCount @(shirt.ShirtSizeCount <= 1 ? "pc" : "pcs") -
                        Your purchase @shirt.ShirtCartCount @(shirt.ShirtCartCount <= 1 ? "pc" : "pcs")
                    </h5>
                    <div class="text-center">
                        <a onclick="deleteUnnecessary(@shirt.Id)" class="btn btn-success text-white mb-2">Remove Unnecessary</a>
                        <a onclick="removeShirtFromCart(@shirt.Id)" class="btn bgcolor-orange text-white mb-2">Remove From Cart</a>
                    </div>
                </div>
            </div>
        </div>
    }
</div>
