@model AllShirtsQueryModel

@{
    ViewData["Title"] = "All shirts";
    ViewBag.ShowHearts = true;

    if (User.Identity.IsAuthenticated)
    {
        if (User.IsAdmin())
        {
            ViewBag.ShowHearts = false;
        }
    }
}

<form method="get">
    <div class="row mb-3">
        <div class="offset-3 col-2 text-center">
            <label asp-for="Size" class="form-label"></label>
            <select asp-for="Size" class="form-select">
                <option value="">All</option>
                <option value="1">XS</option>
                <option value="2">S</option>
                <option value="3">M</option>
                <option value="4">L</option>
                <option value="5">XL</option>
                <option value="6">XXL</option>
            </select>
        </div>
        <div class="col-2 text-center">
            <label asp-for="Sorting" class="form-label"></label>
            <select asp-for="Sorting" class="form-select">
                <option value="0">Newest</option>
                <option value="1">Oldest</option>
                <option value="2">Price ascending</option>
                <option value="3">Price descending</option>
            </select>
        </div>
        <div class="col-1 text-center mt-3">
            <button class="btn bgcolor-blue text-white mt-3" type="submit">Submit</button>
        </div>
    </div>
</form>

@{
    var previousPage = Model.CurrentPage - 1;
    if (previousPage < 1)
    {
        previousPage = 1;
    }

    var maxPage = Math.Ceiling((double)Model.TotalShirts / AllShirtsQueryModel.ShirtsPerPage);
}

<div class="row mb-4">
    <div class="col-6">
        <a class="btn bgcolor-blue float-left text-white @(Model.CurrentPage == 1 ? "disabled" : string.Empty)"
           asp-controller="Shirts"
           asp-action="All"
           asp-route-currentPage="@(previousPage)"
           asp-route-size="@Model.Size"
           asp-route-sorting="@((int)Model.Sorting)"><<</a>
    </div>

    @{
        var shouldButtonBeDisabled = Model.CurrentPage == maxPage ||
        !Model.Shirts.Any();
    }

    <div class="col-6">
        <a class="btn bgcolor-blue float-end text-white @(Model.CurrentPage == maxPage || maxPage == 0 ? "disabled" : string.Empty)"
           asp-controller="Shirts"
           asp-action="All"
           asp-route-currentPage="@(Model.CurrentPage + 1)"
           asp-route-size="@Model.Size"
           asp-route-sorting="@((int)Model.Sorting)">>></a>
    </div>
</div>

<partial name="_ShirtsPartial" model="@Model.Shirts" />

@if (!Model.Shirts.Any())
{
    <h2 class="text-center">There are not available shirts with this criteria!</h2>
}