@model ShirtDetailsServiceModel

@{
    ViewData["Title"] = "Details";

    var userId = string.Empty;

    var isAdmin = false;

    if (User.Identity.IsAuthenticated)
    {
        userId = User.Id();

        isAdmin = User.IsAdmin();
    }
}

<div class="text-center">
    <div class="alert-success" style="display:none;">
        <h3 id="message">Successfully added !</h3>
    </div>
</div>

<div class="col-md-6 col-lg-5 text-center rounded mx-auto d-block">
    <div class="card mb-4 bgcolor-gray border-none">
        @if (Model.IsAvailable)
        {
            <img src="@Model.ImageUrl" class="cart-img-top" alt="@Model.Name" />
        }
        else
        {
            <img src="https://way-ve.com/SOLD.gif" style="background: url(@Model.ImageUrl) no-repeat; background-size: calc(100%);" class="card-img-top" alt="@Model.Name">
        }
        <div class="card-body">
            <h5 class="card-title text-center">@Model.Name</h5>
            <p class="card-text text-center">$@Model.Price</p>
        </div>
    </div>
</div>

@if (!isAdmin)
{
    <div class="text-center mb-3">
        <span class="text-small text-dark">Select size to add in cart</span>
    </div>
}

<row class="text-center rounded mx-auto d-block mb-3">
    <a onclick="buy(this)" id="@Model.Id-XS" class="btn bgcolor-blue text-white rounded-circle@(Model.SizeXS == null ? " disabled" : string.Empty)@(isAdmin ? " custom-disabled" : string.Empty)">XS</a>
    <a onclick="buy(this)" id="@Model.Id-S" class="btn bgcolor-blue text-white rounded-circle@(Model.SizeS == null ? " disabled" : string.Empty)@(isAdmin ? " custom-disabled" : string.Empty)">S</a>
    <a onclick="buy(this)" id="@Model.Id-M" class="btn bgcolor-blue text-white rounded-circle@(Model.SizeM == null ? " disabled" : string.Empty)@(isAdmin ? " custom-disabled" : string.Empty)">M</a>
    <a onclick="buy(this)" id="@Model.Id-L" class="btn bgcolor-blue text-white rounded-circle@(Model.SizeL == null ? " disabled" : string.Empty)@(isAdmin ? " custom-disabled" : string.Empty)">L</a>
    <a onclick="buy(this)" id="@Model.Id-XL" class="btn bgcolor-blue text-white rounded-circle@(Model.SizeXL == null ? " disabled" : string.Empty)@(isAdmin ? " custom-disabled" : string.Empty)">XL</a>
    <a onclick="buy(this)" id="@Model.Id-XXL" class="btn bgcolor-blue text-white rounded-circle@(Model.SizeXXL == null ? " disabled" : string.Empty)@(isAdmin ? " custom-disabled" : string.Empty)">XXL</a>
</row>

@if (userId == Model.UserId)
{
    <div class="text-center">
        <a asp-controller="Shirts" asp-action="Edit" asp-route-id="@Model.Id" class="btn btn-warning text-dark mb-2">Edit</a>
        <a asp-controller="Shirts" asp-action="Delete" asp-route-id="@Model.Id" class="btn btn-danger text-white mb-2">Delete</a>
    </div>
}

<div class="text-center">
    <h3 class="mb-3">Dimensional info</h3>
</div>
<table class="text-center table-sm" style="margin-left:auto;margin-right:auto;">
    <thead>
        <tr>
            <th>Size</th>
            <th>Width</th>
            <th>Length</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>XS</td>
            <td>49</td>
            <td>69</td>
        </tr>
        <tr>
            <td>S</td>
            <td>52</td>
            <td>71</td>
        </tr>
        <tr>
            <td>M</td>
            <td>55</td>
            <td>73</td>
        </tr>
        <tr>
            <td>L</td>
            <td>58</td>
            <td>75</td>
        </tr>
        <tr>
            <td>XL</td>
            <td>61</td>
            <td>77</td>
        </tr>
        <tr>
            <td>XXL</td>
            <td>64</td>
            <td>79</td>
        </tr>
    </tbody>
</table>

<script type="text/javascript">
    function buy(event){
        let params = event.id;
        let id = params.slice(0, params.indexOf("-"));
        let size = params.slice(params.indexOf("-") + 1);
        let buttons = document.querySelectorAll("a.rounded-circle");
        buttons.forEach(x => x.classList += " custom-disabled");

        $.ajax({
            type: "GET",
            url: `/Carts/Add/${id}?size=${size}`,
        })
        let message = document.getElementById("message");
        message.parentElement.style.display = "inline-block";

        setTimeout(function(){
            message.parentElement.style.display = "none";
            buttons.forEach(x => x.classList.remove("custom-disabled"));
        }, 3000);
    };
</script>