@model ShirtDetailsServiceModel

@{
    ViewData["Title"] = "Details";
}
<div class="col-md-4 text-center rounded mx-auto d-block">
    <div class="card mb-4 bgcolor-gray border-none">
        <img src="@Model.ImageUrl" class="card-img-top" alt="@Model.Name">
        <div class="card-body">
            <h5 class="card-title text-center">@Model.Name</h5>
            <p class="card-text text-center">$@Model.Price</p>
        </div>
    </div>
</div>
<div class="text-center mb-3">
    <span class="text-small text-dark">Select size to add in cart</span>
</div>
<row class="text-center rounded mx-auto d-block mb-3">
    @foreach (var size in Model.Sizes)
    {
        <a asp-controller="Carts" asp-action="Add"
        asp-route-id="@Model.Id" asp-route-size="@size.SizeName" 
        class="btn bgcolor-blue text-white rounded-circle
        @(size.Count == null ? " null" : string.Empty)">@size.SizeName</a>
    }
</row>
@if (User.Id() == Model.UserId || User.IsAdmin())
{
    <div class="text-center">
        <a asp-controller="Shirts" asp-action="Edit" asp-route-id="@Model.Id" class="btn btn-warning text-dark mb-2">Edit</a>
        <a asp-controller="Shirts" asp-action="Delete" asp-route-id="@Model.Id" class="btn btn-danger text-white mb-2">Delete</a>
    </div>
}
<div class="text-center">
    <h3 class="mb-3">Dimensional info</h3>
</div>
<table class="text-center table-sm" style="margin-left:auto;margin-right:auto;">
    <thead>
        <tr>
            <th>Size</th>
            <th>Width</th>
            <th>Length</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>XS</td>
            <td>49</td>
            <td>69</td>
        </tr>
        <tr>
            <td>S</td>
            <td>52</td>
            <td>71</td>
        </tr>
        <tr>
            <td>M</td>
            <td>55</td>
            <td>73</td>
        </tr>
        <tr>
            <td>L</td>
            <td>58</td>
            <td>75</td>
        </tr>
        <tr>
            <td>XL</td>
            <td>57</td>
            <td>77</td>
        </tr>
        <tr>
            <td>XXL</td>
            <td>59</td>
            <td>79</td>
        </tr>
    </tbody>
</table>
